.shop-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.rifle-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    margin: 100px 50px;
}
.cart-container{
    background: rgba(255, 153, 0, 0.3);

}