.cart-heading{
    color: blue;
}
.cart{
    position:sticky;
    top: 0;
    padding: 30px 20px;
    background-color: rgba(227, 244, 245, 0.965);
    border: 1px solid blue;
    border-radius: 20px;
}
.select-btn{
    color: white;
    background-color: blue;
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
}

.rest-btn{
    color: white;   
    background-color: orangered;
    width: 100px;
    height: 50px;
}
